@import "./partials/__resets";
@import "./partials/__utils";
@import "./partials/__breakpoints";
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 100;
//   src: url("../fonts/Inter-Thin-BETA.woff2") format("woff2"),
//        url("../fonts/Inter-Thin-BETA.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 100;
//   src: url("../fonts/Inter-ThinItalic-BETA.woff2") format("woff2"),
//        url("../fonts/Inter-ThinItalic-BETA.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 200;
//   src: url("../fonts/Inter-ExtraLight-BETA.woff2") format("woff2"),
//        url("../fonts/Inter-ExtraLight-BETA.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 200;
//   src: url("../fonts/Inter-ExtraLightItalic-BETA.woff2") format("woff2"),
//        url("../fonts/Inter-ExtraLightItalic-BETA.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 300;
//   src: url("../fonts/Inter-Light-BETA.woff2") format("woff2"),
//        url("../fonts/Inter-Light-BETA.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 300;
//   src: url("../fonts/Inter-LightItalic-BETA.woff2") format("woff2"),
//        url("../fonts/Inter-LightItalic-BETA.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 400;
//   src: url("../fonts/Inter-Regular.woff2") format("woff2"),
//        url("../fonts/Inter-Regular.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 400;
//   src: url("../fonts/Inter-Italic.woff2") format("woff2"),
//        url("../fonts/Inter-Italic.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 500;
//   src: url("../fonts/Inter-Medium.woff2") format("woff2"),
//        url("../fonts/Inter-Medium.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 500;
//   src: url("../fonts/Inter-MediumItalic.woff2") format("woff2"),
//        url("../fonts/Inter-MediumItalic.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 600;
//   src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
//        url("../fonts/Inter-SemiBold.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 600;
//   src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
//        url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 700;
//   src: url("../fonts/Inter-Bold.woff2") format("woff2"),
//        url("../fonts/Inter-Bold.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 700;
//   src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
//        url("../fonts/Inter-BoldItalic.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 800;
//   src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
//        url("../fonts/Inter-ExtraBold.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 800;
//   src: url("../fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
//        url("../fonts/Inter-ExtraBoldItalic.woff") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  normal;
//   font-weight: 900;
//   src: url("../fonts/Inter-Black.woff2") format("woff2"),
//        url("../fonts/Inter-Black.woff") format("woff");
// }
// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 900;
//   src: url("../fonts/Inter-BlackItalic.woff2") format("woff2"),
//        url("../fonts/Inter-BlackItalic.woff") format("woff");
// }

// /* -------------------------------------------------------
// Variable font.
// Usage:

//   html { font-family: 'Inter', sans-serif; }
//   @supports (font-variation-settings: normal) {
//     html { font-family: 'Inter var', sans-serif; }
//   }
// */
// @font-face {
//   font-family: 'Inter var';
//   font-weight: 100 900;
//   font-style: normal;
//   font-named-instance: 'Regular';
//   src: url("../fonts/Inter-upright.var.woff2") format("woff2");
// }
// @font-face {
//   font-family: 'Inter var';
//   font-weight: 100 900;
//   font-style: italic;
//   font-named-instance: 'Italic';
//   src: url("../fonts/Inter-italic.var.woff2") format("woff2");
// }


// /* --------------------------------------------------------------------------
// [EXPERIMENTAL] Multi-axis, single variable font.

// Slant axis is not yet widely supported (as of February 2019) and thus this
// multi-axis single variable font is opt-in rather than the default.

// When using this, you will probably need to set font-variation-settings
// explicitly, e.g.

//   * { font-variation-settings: "slnt" 0deg }
//   .italic { font-variation-settings: "slnt" 10deg }

// */
// @font-face {
//   font-family: 'Inter var experimental';
//   font-weight: 100 900;
//   font-style: oblique 0deg 10deg;
//   src: url("../fonts/Inter.var.woff2") format("woff2");
// }

:root{
  font-size:16px;
  scroll-behavior: smooth;
  font-weight: 500;  
  color:colors(text-color);
}

.active{
  opacity:1;
}

.active-button{
  background-color:colors(text-color);
  color:white;
}

.idle{
  opacity:unset;
}

#no-overflow-wrapper{
  visibility: hidden;
  padding-top:0;
  padding-bottom:0;
  width:100%;
  height:100%;
  color:colors('text-color');
  overflow:hidden;
}

h1{
  font-size:48px !important;
  font-weight:300;
  line-height: 60px !important;
  display:inline-block;
  margin:0; 
};

.semi-bold{
  font-weight:600;
}

.medium{
  font-weight:500;
}

.bold{
  font-weight:700;
}

.light{
  font-weight: 300;
}

h2{
  font-size:36px !important;
  line-height: 48px !important;
  font-weight:300;
  display:inline-block;
}

h5{
  font-size:20px !important;
}

p{
  font-size:20px !important;
  line-height: 36px !important;
  font-weight:400;
}


nav{
  visibility:hidden;
  padding:3.89vh 5.47vw;
  background-color:rgba(255, 255, 255, 0.8);
  position:fixed;
  width:100%;
  z-index:10;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  ul{
    display:none;
    list-style: none;
    display:flex;
    padding-right: 1.56vw;
    li{
      padding:0 2.14vw 0;
      
      a{
        color:colors('text-color');
        text-transform:uppercase;
        font-size:13px;
        font-weight:700;
        letter-spacing: 0.1px;
        position:relative;
      }
      a:hover > img{
        opacity:1;
      }
      img{
        opacity:0;
        transition:0.5s;
        position:absolute;
        bottom:-2vh;
        left:0;
        height:5px;
        width:30px;
      }
    }
    li:last-of-type a{
      border:2px solid colors(text-color);
      padding:21px 42.5px;
      img{
        display:none;
      }
      transition:0.5s;
    }
    li:last-of-type:hover a{
      background-color:colors(text-color);
      color:white;
    }
    @include respond-to(large){
      display:none;
    }
    @include respond-to(small){
      display:none;
    }
  }
  #menu{
    display:none;
    @include respond-to(large){
      display:inline-block;
    }
  }
  @include respond-to(large){
    padding:6.44vh 7.8vw 0;
  }
  @include respond-to(small){
    padding: 30px 12.1vw;
  }
}

#mobile-menu{
  transition:0.5s;
  opacity:0;
  display: none;
  width:100vw;
  height:100vh;
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  padding-top:20vh;
  overflow-y:scroll;
  #upper-circle{
    position:absolute;
    top:0;
    left:0;
    width:91.8vw;
    height:91.8vw;
    transform:translate(-50%, -30%);
    background-color:colors(secondary-color);
    z-index:-1;
    clip-path:circle(50%);
  }
  .social-links{
    display:flex;
    position:static;
    visibility: visible;
    padding-bottom:10px;
    a{
      margin:0;
      z-index:100;
      img{
        height:18.57px;
      }
    }
    width:50.2vw;
    margin:auto;
    @include respond-to(large){
      display:none;
    }
    @include respond-to(small){
      display:flex;
    }
  }
  #lower-circle{
    position:absolute;
    bottom:0;
    right:0;
    width:91.8vw;
    height:91.8vw;
    transform:translate(50%, 30%);
    background-color:colors(secondary-color);
    z-index:-1;
    clip-path:circle(50%);
  }
  ul{
    list-style:none;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    min-height:60vh;
    margin-bottom:10vh;
    li{
      a{
        color:colors(text-color);
      }
      padding-bottom:7px;
    }
    li:last-of-type a{
      border:2px solid colors(text-color);
      padding:15px 25px;
    }
  }
}

#logo{
  width:4.85vw;
  img{
    width:100%;
  }
  @include respond-to(large){
    width:9.1vw;
  }
  @include respond-to(small){
    width:15.5vw;
  }
}

.container{
  width:100%;
  position:relative;
}

#career{
  margin-bottom:0;
}

.container:nth-child(2){
  @include respond-to(small){
    min-height:90vh;
  }
}



#hero-main{
  display:flex;
  align-items: center;
  min-height:79.3vh;
  width:100%;
  padding-top:30vh;
  @include respond-to(large){
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
  }
  @include respond-to(small){
    padding-top:235px;
  }
}

#hero-text{
  margin-left:sizes(margin) - 5.21vw;
  font-weight: 300 !important;
  width:30vw;
  h1{
    transition:0.2s;
    margin:0;
    @include respond-to(small){
      width:68.7vw;
    }
  }
  @include respond-to(large){
    margin-top:0;
    margin-left:sizes(margin);
    width:55vw;
  }
  @include respond-to(small){
    margin-top:0;
    width:auto;
    margin-left:sizes(margin) - 5.21vw;
    margin-right:sizes(margin) - 5.21vw;
  }
}

#hero-illustration{
  width:31.35vw;
  position:absolute;
  right:sizes(margin) - 5.21vw;
  transform:scale(1.5);
  @include respond-to(large){
    position:static;
    margin-top:13.1vh;
    margin-bottom:0;
    align-self:center;
    width:80vw;
  }
  @include respond-to(small){
    margin-top:12.81vh;
    margin-bottom:15vh;
  }
}

#hero-illustration img{
  width:100%;
}
#hero-illustration img:nth-child(2){
  position:absolute;
  left:0;
  top:0;
  animation:bounce 10s infinite linear;
  transform:translate(0, 3%);
}

@keyframes bounce{
  50%{
    transform:translate(0, -3%)
  }
  100%{
    transform:translate(0, 3%)
  }
}


.social-links{
  visibility:hidden;
  z-index:10;
  position:fixed;
  bottom:6.48vh;
  left:5.47vw;
  display:flex;
  align-items: center;
  justify-content: space-between;

  a{
    display: flex;
    align-items: center;
    margin-right:42px;
    img{
      height:18.37px;
    }
  }

  >svg{
    opacity:1;
    transition:1s;
  }
  @include respond-to(large){
    width:15vw;
  }
  @include respond-to(small){
    display:none;
  }
}

[class$="-button"] span{
    display:inline-block;
    margin-left:1.6vw;
    width:2.6vw;
    height:0.55vh;
    border-top:1px solid colors(text-color);
}

.scroll-sign{
  visibility:hidden;
  color:colors(text-color);
  position:fixed;
  right:4.05vw;
  bottom:6.48vh;
  z-index:10;
  padding:15px;
  svg{
    position:relative;
  }
  @include respond-to(large){
    bottom:6.48vh;
  }
  @include respond-to(small){
    right:-12vw;
    bottom:sizes(extralarge);
  }
}

#section-circle{
  position:absolute;
  transition:1s;
  top:250px;
  left:16px;
  z-index:10;
  visibility: hidden;
  transform:translate(0,-125px);
  @include respond-to(large){
    top:250px;
  }
  @include respond-to(small){
    display:none;
  }
}

#about{
  height:auto;
}

#about-all{
  padding-top:30vh;
  @include respond-to(large){
    padding-top:16.3vh;
  }
  @include respond-to(small){
    padding-top:16.43vh;
  }
}

#about-main{
  position:static;
  #about-illustration{
    position:absolute;
    top:0;
    right:0;
    transform:translate(0, -45%);
    img{
      @include respond-to(small){
        width:100%;
      }
    }
    @include respond-to(large){
      transform:translate(0, -16.3vh);
      img{
        width:50vw;
      }
    }
    @include respond-to(small){
      
    transform:translate(0, -16.43vh);
      width:50vw;
    }
  }
  @include respond-to(large){
    position:static;
    top:0;
    transform:translate(0, 0);
  }
  @include respond-to(small){
    top:5vh;  
  }
}

#about-text{
  transition:0.2s;
  margin-bottom:28.24vh;
  margin-left:sizes(margin) + 3.91vw;
  width:50.52vw;
  h2{
    margin:0;
    margin-bottom:11vh;
  }
  p{
    margin:0;
    width:41.67vw;
    @include respond-to(small){
      width:auto;
    }
  }
  @include respond-to(large){
    margin-left:sizes(margin);
    margin-right:sizes(margin);
    width:auto;
    margin-bottom:6.91vh;
  }
  @include respond-to(small){
    width:auto;
    margin-bottom:0;
  }
}

#about-button{
  margin-left:sizes(margin);
  margin-bottom:22.7vh;
  border:none;
  padding:0;
  width:17.6vw;
  img{
    @include respond-to(small){
      width:70vw;
    }
  }
  @include respond-to(small){
    margin-bottom:7.5vh;
  }
}

[id$='button']{
  padding:sizes('small') sizes('medium');
  border:2px solid colors('text-color');
  display: inline-block;
  color:colors('text-color');
  font-weight:700;
  span{
    display:inline-block;
    margin-left:30px;
    width:50px;
    height:6px;
    border-top:1px solid colors(text-color);
  }
}

#ourtechnology-main{
  margin-left:sizes(margin);
  margin-right:sizes(margin);
  display:flex;
  flex-direction:column;
  height:100%;
  z-index:1;
  @include respond-to(large){
    flex-direction: column;
  }
}
#ourtechnology-text{
  transition:0.2s;
  margin-bottom:15.74vh;
  @include respond-to(small){
    margin-bottom:0;
  }
}

#ourtechnology-text h1{
  margin-top:28.9vh;
  margin-bottom:6.48vh;
  text-align:center;
  width:100%;
  margin-right:sizes(margin);
  @include respond-to(large){
    text-shadow:none;
    border-bottom:none;
    margin-top:19.61vh;
    margin-bottom:9.52vh;
  }
  @include respond-to(small){
    width:100%;
    margin-top:10vh;
  }
}

#ourtechnology-text p{
  margin:auto;
  border:none;
  margin-top:0;
  width:38.8vw;
  text-align:center;
  @include respond-to(large){
    width:36.53vw;
    margin-bottom:4.8vh;
  }
  @include respond-to(small){
    width:auto;
    margin-bottom:0vh;
  }
}

#ourtechnology-illustration{
  position:absolute;
  top:0;
  right:-(sizes(margin)) - 20vw;
  align-self: flex-end;
  img{
    transition:0.2s;
    width:57.3vw;  
    @include respond-to(large){
      width:100vw;
    }
    @include respond-to(small){
      width:150vw;
    }
  }
  @include respond-to(large){
    position:static;
    margin-bottom:10vh;
  }
  @include respond-to(small){
    position:static;
    margin-bottom:10vh;
  }
}

#ourtechnology-subsections{
  position:relative;
  width:100%;
  .ourtechnology-subsections-item{
    width:21.1vw;
    margin-bottom:21.4vh;
    h2{
      margin-top:8.33vh;
      font-size:48px !important;
      margin-bottom:6.94vh;
    }
    img{
      position:absolute;
      left:0;
      bottom:19.26vh;
      transform:translateX(-100%);
    }
    @include respond-to(large){
      width:50vw;
    }
    @include respond-to(small){
      width:100%;
      margin-bottom:0;
    }
  }
  .ourtechnology-subsections-item:nth-child(3){
    margin-left:auto;
    margin-bottom:16.67vh;
  }
}

.secondary-color-background{
  height:54%;
  width:100vw;
  position:absolute;
  z-index:-1;
  top:0;
  background-color:colors('secondary-color');
  @include respond-to(large){
    height:36%;
  }
  @include respond-to(small){
    height:48%;
  }
}

.secondary-color-background:nth-child(2){
  @include respond-to(large){
    height:55%;
  }
  @include respond-to(small){
    height:49%;
  }
}

#statechannels-main{
  display:flex;
  margin-bottom:19.44vh;
  justify-content: space-between;
  width:100%;
  height:100%;
  #statechannels-illustration{
    width:36vw;
    align-self:flex-end;
    margin-top:34.85vh;
    @include respond-to(large){
      width:32.2vw;
    }
    @include respond-to(small){
      width:100%;
      margin-top:0;
      margin-left:0;
    }
    img{
      width:90vw;
      transform:translate(-5.833vw, 0);
    }
    img{
      @include respond-to(large){
        width:100vw;
        margin-left:0;
        transform:translate(0);
      }
      @include respond-to(small){
        margin-left:0;
        width:100vw;
        transform:translate(0);
      }
    }
    @include respond-to(large){
      margin-bottom:0;
      align-self: flex-start;
      margin-top:0;
    }
    @include respond-to(small){
      margin-bottom:25.3vh;
    }
  }
  @include respond-to(large){
    flex-direction:column-reverse;
  }
  @include respond-to(small){
    margin-bottom:0;
  }
}

#statechannels-text{
  transition:0.2s;
  margin:0;
  margin-bottom:19.44vh;
  margin-right:sizes(margin);
  @include respond-to(large){
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    margin-right: sizes(margin);
    margin-bottom:0;
  }
  @include respond-to(small){
    width:70vw;
    margin-right:0;
    margin-left:sizes(margin);
    margin-bottom:0;
    padding-top:7vh;
  }
}

#statechannels-text h1:nth-child(1){
  margin:0;
  margin-bottom:9.72vh;
  width:17.92vw;
  @include respond-to(large){
    width:34vw;
    margin-right: 18.75vw;
  }
  @include respond-to(small){
    margin-bottom:10.65vh;
    margin-right: 0;
    width:100%;
  }
}

#statechannels-text p{
  margin-top:0;
  width:20vw;
  margin-left:8.3vw;
  margin-bottom:27.8vh;
  line-height: font-sizes(large);
  @include respond-to(large){
    width:37.6vw;
    margin-bottom:16.6vh;
  }
  @include respond-to(small){
    width:60vw;
    margin-bottom:27.8vh;
  }
}


#illustration-and-video{
  display:flex;
  flex-direction: column;
  text-align: center;
  line-height: 42px;
  flex-wrap:wrap;
  >img{
    margin-left:19vw;
    width:44vw;
    @include respond-to(large){
      width:82vw;
      margin:auto;
      margin-bottom:0;
    }
    @include respond-to(small){
      width:100%;
      margin:auto;
    }
  }
  #illustration-video{
    align-self: flex-end;
    margin-left:sizes(extralarge);
    width:50%;
    font-weight: bold;
    img{
      width:100%;
      height:50vh;
      @include respond-to(large){
        height:auto;
      }
    }
    @include respond-to(large){
      align-self: center;
      margin-left: 0;
      margin-top:sizes(extralarge);
      width:100%;
      margin-top:sizes(extralarge);
      margin-bottom: sizes(extralarge);
    }
  }
  @include respond-to(small){
    flex-direction: column-reverse;
  }
}

#product{
  margin-left:sizes(margin) + 3.91vw;
  @include respond-to(small){
    margin-left:sizes(margin);
    margin-right:sizes(margin);
  }
}

#product-text h2{
  padding-top:21.2vh;
  margin-bottom:13.9vh;
  width:49.11vw;
  @include respond-to(large){
    padding-top:18.3vh;
    margin-bottom:11vh;
  }
  @include respond-to(small){
    width:auto;
    padding-top:21.2vh;
    margin-bottom:13.9vh;
  }
}

.right-aligned{
  width:fit-content;
  margin-left:auto;
}

#product-list{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  justify-content: space-between;
  margin:auto;
  padding-right:sizes(margin) + 3.91vw;

  .product-single{
    width:23.12vw;
    margin-bottom:8.3vh;
    p{
      width:17vw;
      margin-top:0;
      margin-bottom:0;
      line-height:font-sizes(large);
      @include respond-to(large){
        width:100%;
      }
      @include respond-to(small){
        width:60vw;
      }
    }
    h2{
      width:17vw;
      margin-bottom:2.3vh;
      @include respond-to(large){
        width:100%;
      }
      @include respond-to(small){
        width:100%;
        margin-bottom:2.3vh;
      }
    }
    >img{
      margin-bottom:3.7vh;
      @include respond-to(large){
        margin-bottom: 2.9vh;
      }
      @include respond-to(small){
        margin-bottom:3.7vh;
      }
    }
    @include respond-to(large){
      padding:0;
      margin:auto;
      margin-bottom:16.8vh;
      width:55.73vw;
      flex-direction: column;
    }
    @include respond-to(small){
      margin-bottom:19.53vh;
      width:100%;
    }
  }
  .product-single:nth-child(2){
    .right-aligned{
      h2{
        width:71px;
      }
    }
  }
  .product-single:nth-child(3){
    padding-bottom:32.4vh;
    margin-bottom:0;
    @include respond-to(large){
      padding-bottom:19vh;
    }
    @include respond-to(small){
      padding-bottom:18.2vh;
    }
  }
  .product-single:nth-child(4){
    @include respond-to(large){
      margin-bottom:0vh;
    }
    @include respond-to(small){
      margin-bottom:0vh;
    }
  }
}


.product-icon{
  height:13.89vh;
  margin-bottom:3.7vh;
  img{
    height:100%;
  }
  @include respond-to(large){
    width:10.7vw;
  }
  @include respond-to(small){
    width:25vw;
  }
}

#AB-illustration{
  height:90vh;
  display:flex;
  align-items: center;
  justify-content: center;
  img{
    height:100%;
  }
}

//Academic papers start

#academic-text{
  margin-right:sizes(margin);
  margin-left:sizes(margin);
  #academic-heading{
    padding-top:20.37vh;
    margin-bottom:9.26vh;
    width:52vw;
    letter-spacing: -2.39px;
    @include respond-to(large){
      margin-bottom:0;
      margin-top:0;
      width:100%;
      margin-right:0;
    }
  }

  h1{
    margin-bottom:3vh;
    margin-top:0;
    @include respond-to(large){
      margin-left:0;
      width:60vw;
    }
  }
  .swiper-slide{
    h2{
      font-size:36px !important;
      font-weight:600;
      border:none;
      margin-left:0vw;
      margin-bottom:1.15vh;
      @include respond-to(large){
        width:70%;
        margin-left:0;
      }
      @include respond-to(small){
        margin-left:0;
        width:100%;
      }
    }
    .buttons{
      margin-left:0vw;
      a{
        display: inline-block;
        margin-right:4.42vw;
        svg{
          height:5.74vh;
        }
        @include respond-to(large){
          svg{
            height:5vh;
          }
        }
        @include respond-to(small){
          margin-bottom:15px;
          svg{
            height:7vh;
          }
        }
      }
      @include respond-to(large){
        margin-left:0vw;
      }
      @include respond-to(small){
        margin-left:0vw;
      }
    }
  }
  img:nth-child(2){
    margin-bottom:3.7vh;
    margin-left:0vw;
    @include respond-to(large){
      margin-left:0;
    }
    @include respond-to(small){
      margin-left:0;
    }
  }
  p{
    width:38.125vw;
    line-height:font-sizes(large);
    margin-left:0vw;
    margin-top:0;
    @include respond-to(large){
      width:70%;
      margin-left:0;
    }
    @include respond-to(small){
      width:60vw;
      margin-left:0;
    }
  }
  p:nth-child(4){
    font-style: italic;
    font-weight: 600;
    margin-bottom:4.17vh;
  }
  @include respond-to(large){
    margin-right:0;
    margin-left:0;
    padding-left:sizes(margin) - 5.21vw;
    padding-right:sizes(margin) - 5.21vw;
    width:100%;
  }
}
.button{
  rect{
    transition:0.5s;
  }
  text{
    transition:0.5s;
  }
  path{
    transition:0.5s;
  }
}

.button:hover{
  rect{
    fill:colors(text-color);
  }
  text{
    fill:colors(main-color);
  }
  path{
    stroke:colors(main-color);
  }
}

#academic-icon{
  margin-left:6vw;
  margin-bottom:7.4vh;
  width:8.9vw;
  img{
    width:100%;
  }
  @include respond-to(large){
    width:16.8vw;
    margin-left:10.7vw;
  }
  @include respond-to(small){
    width:35vw;
    margin-left:0;
  }
}

#academic-main{
  display:flex;
  background-color:colors(secondary-color);
  align-items:flex-start; 
  width:87.6vw;
  #academic-slider{
    width:62.22vw;
    align-self:flex-end;
    #academic-scroll-right{
      background-color: transparent;
      width:fit-content;
      margin-left:auto;
      display:flex;
      justify-content: flex-end;
      align-items: center;
      margin-right:7.6vw;
      margin-bottom:9.26vh;
      margin-top:6.5vh;
      font-weight:700;
      cursor:pointer;
      svg{
        margin-left:auto;
        margin-bottom:0;
        margin-right:2.6vw;
      }
      img{
        margin-left:0;
        margin-bottom:0;
        transition:0.5s;
      }
      @include respond-to(large){
        width:30vw;
        margin-top:0;
        margin-bottom:19vh;
        margin-right:0;
      }
      @include respond-to(small){
        width:60vw;
        margin-top:sizes(margin);
        margin-bottom:22.2vh;
        img{
          margin-right:13vw;
        }
      }
    }
    #academic-scroll-right:hover{
      animation:zoom 0.5s;
    }
    #academic-scroll-right:active{
      animation:zoomOut 0.5s;
    }
    @include respond-to(large){
      margin-left:0;
      margin-top:115px;
      width:100%;
    }
    @include respond-to(small){
      margin-top:185px;
    }
  }
  @include respond-to(small){
    height:auto;
    width:100%;
  }
}

#whyuse-text{
  margin-right:sizes(margin);
  margin-left:sizes(margin);
  #whyuse-heading{
    padding-top:21.2vh;
    margin-bottom:13.9vh;
    @include respond-to(large){
      margin-bottom:0;
      margin-top:0;
      width:100%;
      margin-right:0;
      padding-top:35.2vh;
    }
  }

  h1{
    margin-bottom:3vh;
    margin-top:0;
    @include respond-to(large){
      width:60vw;
      margin-left:0;
    }
  }
  h1:nth-child(2){
    border:none;
    margin-bottom:2.3vh;
    @include respond-to(large){
      width:60vw;
      margin-left:0;
    }
    @include respond-to(small){
      margin-left:0;
    }
  }
  img:nth-child(3){
    margin-bottom:3.7vh;
    @include respond-to(large){
      margin-left:0;
    }
    @include respond-to(small){
      margin-left:0;
    }
  }
  p{
    width:27.7vw;
    line-height:font-sizes(large);
    margin-top:0;
    @include respond-to(large){
      width:60vw;
      margin-left:0;
    }
    @include respond-to(small){
      margin-left:0;
    }
  }
  @include respond-to(large){
    margin-right:0;
    margin-left:0;
    padding-left:sizes(margin);
    padding-right:sizes(margin);
    width:100%;
  }
  @include respond-to(small){
    padding-left:sizes(margin) - 5.21vw;
    padding-right:sizes(margin) - 5.21vw;
  }
}

#whyuse-icon{
  margin-bottom:7.4vh;
  height:17.22vh;
  img{
    height:100%;
    @include respond-to(large){
      width:100%;
      height:auto;
    }
    @include respond-to(small){
      width:100%;
      height:auto;
    }
  }
  @include respond-to(large){
    width:16.8vw;
    margin-left:0;
  }
  @include respond-to(small){
    width:35vw;
    margin-left:0;
  }
}

#whyuse-main{
  display:flex;
  align-items:flex-start; 
  #whyuse-slider{
    width:58.44vw;
    align-self:flex-end;
    #whyuse-scroll-right{
      margin-left:auto;
      display:flex;
      justify-content: flex-end;
      margin-right:10px;
      margin-bottom:22.2vh;
      img{
        transform:rotate(0deg);
        transition:0.5s;
        cursor:pointer;
      }
      @include respond-to(large){
        width:30vw;
        margin-bottom:19vh;
      }
      @include respond-to(small){
        padding-top:50px;
        width:60vw;
        margin-top:sizes(margin);
        margin-bottom:22.2vh;
        img{
          margin-right:13vw;
        }
      }
    }
    #whyuse-scroll-right div:hover{
      animation:zoom 0.5s;
    }
    #whyuse-scroll-right div:active{
      animation:zoomOut 0.5s;
    }
    @include respond-to(large){
      margin-left:0;
      margin-right:sizes(large);
      margin-top:115px;
      width:100%;
    }
    @include respond-to(small){
      margin-top:185px;
    }
  }
  #whyuse-circle{
    position:absolute;
    top:-25vh;
    right:-2vw;
    img{
      width:30.62vw;
    }
    @include respond-to(large){
      top:-15vw;
      right:-20vw;
      img{
        width:70vw;
      }
    }
    @include respond-to(small){
      top:0vw;
    }
  }
  @include respond-to(small){
    height:auto;
    width:100%;
  }
}

#whyuse-circle-mobile{
  display:none;
  img{
    width:60vw;
    @include respond-to(large){
      width:100vw;
    }
    @include respond-to(small){
      width:60vw;
    }
  }
  @include respond-to(large){
    margin-bottom:16.8vh;
    margin-top:0;
    margin-left:auto;
  }
  @include respond-to(small){
    margin-bottom:0;
    margin-left:0;
  }
}

@keyframes rotate{
  to{
    transform:translate(-50%, -50%) rotate(360deg);
  }
}

#big-illustration{
  width:49.58vw;
  margin:auto;
  img:nth-child(4), img:nth-child(1), img:nth-child(2), img:nth-child(3){
    width:100% ;
    margin-bottom:4.63vh;
    @include respond-to(large){
      width:100%;
    }
    @include respond-to(small){
      width:100%;
    }
  }
  img:nth-child(1), img:nth-child(2), img:nth-child(3){
    position:absolute;
    top:0;
    z-index:-1;
  }
  @include respond-to(small){
    width:80vw;
  }
}

#small-circle, #medium-circle, #big-circle{
  animation:scale 10s infinite;
}

#small-circle{
  animation-delay:2s
}

#big-circle{
  animation-delay:4s;
}

@keyframes scale{
  33%{
    transform:scale(1.2)
  }
  66%{
    transform:scale(0.8)
  }
  100%{
    transform:scale(1)
  }
}

#big-illustration img:nth-child(5){
  width:11.2vw;
  display:block;
  margin-left:auto;
  margin-right:2.81vw;
  @include respond-to(large){
    width:40%;
  }
  @include respond-to(small){
    width:40%;
  }
}

#MS-text{
  margin-left:sizes(margin);
  h1{
    margin-bottom:4.4vh;
  }
  p{
    line-height: sizes(medium);
    width:17vw;
    margin-left:sizes(margin);
    margin-bottom:sizes(margin);
    @include respond-to(small){
      width:60vw;
    }
  }
}

#MS-illustration{
  display:flex;
  align-items: center;
  justify-content: center;
  height:90vh;
  img{
    height:100%;
  }
}

#opensource{
  min-height:50vh;
}

#opensource-text{
  margin-left:sizes(margin);
  h1{
    margin-bottom:3vh;
  }
  p{
    margin-left:sizes(margin);
    width:17vw;
    line-height: sizes(medium);
    margin-bottom:3vh;
    @include respond-to(small){
      width:60vw;
    }
  }
  a{
    margin-left:sizes(margin);
  }
}

#call-to-action{
  background-color:colors(text-color);
  position:relative;
  #call-to-action-main{
    margin-left:sizes(margin);
    margin-right:sizes(margin);
    padding-top:31vh;
    padding-bottom:31vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    a{
      display:inline-block;
      z-index:2;
    }
    h1{
      z-index:2;
      color:white;
      display:block;
      text-align: center;
      margin-bottom:6vh;
    }
    svg:hover{
      rect{
        fill:white;
      }
      text{
        fill:colors(text-color);
      }
      path{
        stroke:colors(text-color)
      }
    }
  }
  #call-to-action-illustration{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    img{
      width:19.5vw;
    }
  }
}


#team-main{
  margin-left:sizes(margin);
  display:flex;
  flex-direction:column;
  width:85%;
  z-index:1;
  @include respond-to(small){
    margin-right:sizes(margin);
    width:auto;
  }
}

#team-text{
  margin-top:20.4vh;
  margin-bottom:13.9vh;
  width:50vw;
  @include respond-to(large){
    margin-top:12.4vh;
    margin-bottom:15.7vh;
  }
  @include respond-to(small){
    margin-top:20.4vh;
    margin-bottom:13.9vh;
    width:80vw;
    h1{
      width:100%;
      overflow: auto;
    }
  }
}

#team-section{
  width:67.55vw;
  @include respond-to(large){
    margin-left:0;
    padding-right:sizes(margin)
  }
  @include respond-to(small){
    padding-right:0;
  }
}

#team-members{
  display:flex;
  overflow-y: visible;
  overflow-x:visible;
  align-items:center;
  justify-content: space-evenly;
  @include respond-to(large){
    width:32.5vw;
  }
  @include respond-to(small){
    width:auto;
  }
}

// .team-member:hover .team-member-more-description{
//   opacity:1;
//   max-height:150vh;
//   padding-top:55vh;
//   position:absolute;
//   top:3.33vh;
//   left:3.33vh;
//   width:24vw;
// }

.team-member:hover .team-member-more-description{
  opacity:1 !important;
}

// .team-member:hover .team-member-name{
//   margin-left:2.5vw;
// }

// .team-member:hover .team-member-description{
//   margin-left:2.5vw;
// }

.paddingTop{
  padding-top:calc(15.8vw + 72px + 1.6vh + 70px) !important;
}

.paddingTopMobile{
  padding-top:calc(60vw + 72px + 1.6vh + 70px) !important;
}

.paddingTopTablet{
  padding-top:calc(32.5vw + 40px + 1.6vh + 70px) !important;
}

.team-member-more-description{
  padding-top:39vh;
  padding-bottom:10.65vh;
  background-color:white;
  max-height:22vh;
  position:absolute;
  top:0;
  width:15.8vw;
  left:0;
  opacity:0;
  overflow:hidden;
  max-height:0;
  transition:1s;
  border:3px solid colors(text-color);
  z-index:1;
  #close-description-button{
    position:absolute;
    top:5.01vh;
    right:3.65vw;
    border:none;
    width:34px;
    padding:0;
    img{
      width:34px;
    }
  }
  p{
    transition:1s;
    opacity:0;
    font-size:24px !important;
    width:14.8vw;
    line-height:42px !important;
    font-weight:500;
    overflow-y:auto;
    margin:auto;
    @include respond-to(large){
      width:93%;
      height:30vh;
    }
    @include respond-to(small){
      width:80%;
      height:30vh;
    }
  }
  .team-member-description-arrow{
    opacity:0;
    transition: 1s;
    position:absolute;
    transform:rotate(180deg);
    bottom:1.5vh;
    right:2.81vw;
    img{
      width:3.54vw;
      @include respond-to(large){
        width:5vw;
      }
      @include respond-to(small){
        width:10vw;
      }
    }
  }
  @include respond-to(large){
    width:100%;
    padding-top:32vh;
    margin-top:0vh;
    padding-bottom:7vh;
  }
  @include respond-to(small){
    width:100%;
    padding-top:45vh;
    margin-top:0;
    padding-bottom:7vh;
  }
}

.team-member:nth-child(even){
  padding-top:18.49vh;
  margin-bottom:10.9vh;
  .team-member-more-description{
    margin-top:18.52vh;
    @include respond-to(large){
      margin-top:0vh;
    }
    @include respond-to(small){
      margin-top:0vh;
    }
  }
  @include respond-to(large){
    padding-top:0;
  }
}

#scroll-right-team{
  width:58.38vw;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-weight:700;
  font-size:24px;
  div{
    display:flex;
    align-items: center;
    cursor:pointer;
  }
  img{
    transition:0.5s;
  }
  img{
    margin-left:3.13vw;
  }
  @include respond-to(small){
    margin-right:0;
    width:100%;
  }
}

#scroll-right-team div:hover{
  animation:zoom 0.5s;
}
#scroll-right-team div:active{
  animation:zoomOut 0.5s;
}

.small-container{
  width:15.8vw;
  @include respond-to(large){
    width:100%;
  }
  @include respond-to(small){
    width:100%;
  }
}

.team-member-description-container{
  width:fit-content;
  position:relative;
  transition:1s;
  z-index:10;
  left:0;
  transform:translate(0, 0);
}

.team-member{
  width:15vw;
  img{
    cursor:pointer;
    width:15.8vw;
    position:sticky;
    z-index:10;
    @include respond-to(large){
      padding-top:0;
      width:100%;
    }
    @include respond-to(small){
      width:100%;
    }
  }
  img:nth-of-type(2){
    position:relative;
    left:0;
    margin-top:1.6vh;
    z-index:10;
    transition:1s;
    opacity:0;
    width:7.55vw;
    margin-bottom:1.5vh;
    @include respond-to(small){
      width:20vw;
      margin-top:0vh;
    }
  }
  @include respond-to(large){
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    p:nth-of-type(1){
      margin-top:sizes(medium);
    }
    p:nth-of-type(2){
      margin-top:0;
    }
  }
  @include respond-to(small){
    width:100%;
  }
}

.team-member-description{
  position: relative;
  z-index:10;
  transition:1s;
  font-weight: 300;
  margin-left:0vw;
  margin-top:0;
  width:fit-content;
  margin-bottom:0;
  left:0;
  font-size:20px !important;
  transform:translate(0%, 0);
  @include respond-to(large){
    padding-bottom:0;
  }
}

.team-member-name{
  position:relative;
  z-index:10;
  margin-left:0vw;
  margin-top:4.2vh;
  margin-bottom:0;
  width:fit-content;
  font-weight: 700;
  font-size:24px !important;
  transition:1s;
  left:0;
  transform:translate(0%, 0);
}

.some-illustration {
  display:flex;
  justify-content: flex-end;
  transform:translate(5.5vw,-31vh);
  img{
    transition:0.2s;
    width:27.5vw;
  }
  @include respond-to(large){
    justify-content: flex-end;
    transform:translate(19%, -50%);
    margin-right: 0;
    img{
      width:70vw;
    }
  }
  @include respond-to(small){
    img{
      width:80vw;
    }
  }
}

.some-illustration-2{
  display:flex;
  justify-content: flex-end;
  position:absolute;
  top:12vh;
  right:0;
  width:29vw;
  margin-right:0;
  transform:translateX(6.5vw);
  img{
    height:auto;
    transition:0.2s;
    width:29vw;
    @include respond-to(large){
      width:70%;
    }
    @include respond-to(small){
      width:70%;
    }
  }
  @include respond-to(large){
    justify-content: flex-end;
    transform:translate(0, -50%);
    margin-bottom:0px;
    width:100vw;
    right:unset;
    left:0;
  }
  @include respond-to(small){
    justify-content: center;
    margin-right:0;
    margin-bottom:0;
    transform:translate(20vw, -50%);
    width:100vw;
    top:0;
    right:unset;
    left:0;
  }
}

#joinus-text{
  width:50vw;
  padding-top:32.4vh;
  margin-top:10vh;
  margin-left:sizes(margin);
  margin-bottom:19.4vh;
  @include respond-to(large){
    padding-top:18vh;
    width:auto;
    margin-right:sizes(margin);
    margin-bottom:15vh;
  }
  @include respond-to(small){
    padding-top:32.4vh;
    width:auto;
    margin-left:sizes(margin) - 7.21vw;
    margin-right:sizes(margin) - 7.21vw;
    margin-bottom:11.2vh;
    margin-top:0;
  }
}

.span-underline{
  padding-bottom: 1.5vh;
  border-bottom: 2px solid #EF5150;
}

#joinus-positions{
  margin-left: sizes(margin);
  margin-right:sizes(margin);
  h2{
    margin-bottom: 2.3vh;
  }
  >img{
    margin-bottom:3.43vh;
  }
  
  #open-positions-table{
    border-collapse:collapse;
    width:100%;
    font-weight: bold; 
    margin-bottom:25vh;
    @include respond-to(large){
      max-width:100%;
      width:100%;
      border-top:none;
      margin-bottom:12.3vh;
    } 
    @include respond-to(small){
      border-top:none;
    }
  }

  #open-positions-table tr:nth-child(1){
    padding-top:0;
    @include respond-to(large){
      padding-top: 9.2vh;
    }
    @include respond-to(small){
      padding-top: 0;
    }
  }

  #open-positions-table tr{
    @include respond-to(large){
      display:flex;
      flex-direction: column;
      margin-right:sizes(margin);
      margin-bottom:sizes(extralarge);
    }

  }

  #open-positions-table td{ 
    font-size:20px !important;
    padding:7.96vh 3.5vw 1.9vw;
    padding-bottom:3vh;
    @include respond-to(large){
      padding-left:0;
      padding-top:2.5vh;
    }
  }
  #open-positions-table td:nth-child(1){
    padding-left:0;
    @include respond-to(large){
      border-bottom:1px solid gray;
      padding-bottom:2.5vh;
    }
  }
  #open-positions-table td:nth-child(3){
    @include respond-to(large){
      display:none;
    }
  }
  #open-positions-table td:last-child{
    padding-right:0;
    @include respond-to(large){
      margin-left:auto;
      margin-right: auto;
    }
  }
  #open-positions-table tr{
    border-bottom:1px solid #b3b3b3;
    @include respond-to(large){
      border-bottom:none;
    }
  }
}

.joinus-position-button{
  border:none;
  padding:0;
  color:colors(text-color);
  display:flex;
  justify-content: flex-end;
}

#partners{
  margin-bottom:0;
}

#partners-text{
  padding-top:20vh;
  margin-bottom:17.31vh;
  margin-left:sizes(margin);
  .partners-h1{
    text-shadow:none;
    width:57.8vw;
    @include respond-to(large){
      width:70vw;
    }
  }
  @include respond-to(large){
    margin-bottom:9.3vh;
  }
  @include respond-to(small){
    margin-bottom:20.6vh;
    margin-left:sizes(margin) - 5.21vw;
    margin-right: sizes(margin) - 5.21vw;
  }
}

#partners-section{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-bottom:11.11vh;
  margin-left:sizes(margin);
  margin-right:sizes(margin);
  @include respond-to(large){
    margin-bottom:0;
  }
  @include respond-to(small){
    margin-bottom:0;
  }
}

#partners-section:nth-child(3){
  margin-bottom:17.6vh;
  @include respond-to(large){
    margin-bottom: 16.2vh;
  }
  @include respond-to(small){
    margin-bottom:6.2vh;
  }
}

#partners-fund{
  width:32.81vw;
  margin:auto;
  h2{
    font-size:48px !important;
    margin-bottom:10.46vh;
  }
  .partners-single{
    margin:auto;
    margin-bottom:11.11vh;
    img{
      width:11.88vw;
      @include respond-to(large){
        width:30vw;
        margin:auto;
      }
      @include respond-to(small){
        width:auto;
        margin:auto;
      }
    }
    @include respond-to(large){
      margin-left:0;
      margin-right:0;
      width:100%;
      margin-bottom:25vh;
    }
  }
  @include respond-to(large){
    width:auto;
    margin-left:sizes(margin);
    margin-right:sizes(margin);
  }
  @include respond-to(small){
    width:auto;
    margin-left:sizes(margin) - 5.21vw;
    margin-right:sizes(margin) - 5.21vw;
    text-align: center;
  }
}

.partners-single{
  width:fit-content;
  display:flex;
  align-items: center;
  justify-content: space-between;
  img{
    width:7vw;
    @include respond-to(large){
      width:17vw;
    }
    @include respond-to(small){
      width:100%;
    }
  }
  @include respond-to(large){
    width:33%;
    padding:0;
    margin-top:9.5vh;
  }
  @include respond-to(small){
    width:40%;
    margin-top:0;
    margin-bottom:8.92vh;
  }
}

.partners-single:nth-child(even){
  @include respond-to(large){
    margin-left:sizes(extralarge);
  }
  @include respond-to(small){
    margin-left: sizes(medium);
  }
}



#partners-circle{
  position:absolute;
  top:0;
  left:0;
  height:42.5vw;
  width:42.5vw;
  background-color:colors(secondary-color);
  transform:translate(-25%, -15%);
  clip-path: circle();
  z-index:-1;
  @include respond-to(large){
    transform: translate(-40%, -12%);
  }
  @include respond-to(small){
    width:102vw;
    transform:translate(-40%,-12%);
  }
}

#contactus-text{
  display:flex;
  flex-direction: row;
  margin-bottom: 16.2vh;
  position:relative;
  padding-top:20vh;
  margin-left:sizes(margin);
  width:auto;
  h1{
    width:40.83vw;
    @include respond-to(small){
      width:100%;
    }
  }
  @include respond-to(large){
    width:56vw;
    padding-top:16.3vh;
    margin-bottom:8.4vh;
  }
  @include respond-to(small){
    width:auto;
    padding-top:11.2vh;
    margin-bottom:13.1vh;
    margin-left:sizes(margin) - 5.21vw;
    margin-right:sizes(margin) - 5.21vw;
  }
}

#contactus-container{
  margin-bottom:0;
}

#contact-info{
  margin-bottom: 4.63vh;
}

.contact-info-single{
  width:40%;
  font-size:24px !important;
  font-weight:700;
  height:5vh;
  display:flex;
  align-items: center;
  margin-bottom:0px;
  img{
    height:50%;
    transform:translateY(0%);
    margin-right: 0.8vw;
    @include respond-to(large){
      margin-right: 2vw;
    }
    @include respond-to(small){
      transform:translateY(0);
      margin-right: 2vw;
      height:60%;
    }
  }
  p{
    display: inline-block;
  }
  @include respond-to(large){
    width:100%;
  }
  @include respond-to(small){
    margin-bottom:5vh;
  }
}

.contactus-links{
  margin-bottom:23vh;
  p{
    font-weight: 600;
    display:flex;
    align-items:center;
    span{
        display:inline-block;
        margin-left:1.6vw;
        width:2.6vw;
        height:2px;
        border-top:3px solid colors(text-color);
        @include respond-to(small){
          width:20vw;
          margin-left:5vw;
        }
    }
  }
  ul{
    display:flex;
    align-items: center;
    list-style: none;
    li{
      display:inline-block;
      padding-right:5px; 
      padding-left:5px;
      font-size:20px;
      font-weight:400;
      .circle{
        width:0.42vw;
        @include respond-to(large){
          width:8px;
        }
        @include respond-to(small){
          width:2vw;
        }
      }
      a{
        display:flex;
        height:100%;
        img{
          @include respond-to(small){
            width:20vw;
          }
        }
      }
      @include respond-to(small){
        padding-right:2vw;
        margin-bottom:20px;
      }
    }
    li:nth-child(even){
      @include respond-to(small){
        display:none;
      }
    }
    @include respond-to(small){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @include respond-to(large){
    margin-bottom:0px;
  }
  @include respond-to(small){
    margin-bottom:0px;
    width:70vw;
  }
}

#contactus-form-section{
  margin-left:sizes(margin);
  display:flex;
  justify-content: space-between;
  #contactus-form-illustration{
    width:10px;
    height:fit-content;
    transform: translateX(-27.5vw) translateY(5vh);
    img{
      padding-top:0;
      width:35.73vw;
      @include respond-to(large){
        width:50vw;
      }
      @include respond-to(small){
        width:65vw;
      }
    }
    @include respond-to(large){
      width:100vw;
      height:38vw;
      margin:auto;
      transform: translateX(-27.5vw) translateY(0vh);
    }
    @include respond-to(small){
      width:100%;
      height:100%;
      transform: translate(-32vw, -20px);
    }
  }
  #contactus-form{
    transform:translateY(-50%);
    margin-right:sizes(margin);
    display:flex;
    flex-direction: column;
    width:26.87vw;
    h2{
      margin-bottom: 6vh;
      font-weight: 600;
    }

    form{
      display:flex;
      flex-direction: column;
      flex-grow: 0;
      input, textarea{
        border:none;
        border-bottom: 2px solid colors(text-color);
        margin-bottom:3.5vh;
        padding-bottom:2vh;
        padding-top:1vh;
        height:2.78vh;
        outline: none;
        font-size:18px;
        color:colors(text-color);
        font-weight:300;
        font-family:'Inter', sans-serif;
      }
      textarea{
        resize:none;
        height:20vh;
        @include respond-to(small){
          height:50vh;
          margin-bottom:7.87vh;
        }
      }
    }
    @include respond-to(large){
      width:100%;
      transform:translateY(0);
      margin-top:sizes(extralarge);
      margin-bottom:0vh;
      padding-left:0vw;
    }
    @include respond-to(small){
      margin-bottom:0px;
      padding-left:0;
    }
  }
  @include respond-to(large){
    flex-direction:column-reverse;
    margin-bottom:0;
    margin-right: sizes(margin);
  }
  @include respond-to(small){
    margin-bottom:0px;
  }

}

#contactus-contact{
  margin-left:sizes(margin);
}

.scroll-sign-up{
  color:colors(text-color);
  position:absolute;
  right:sizes(margin);
  bottom:9.72vh;
  z-index:10;
  @include respond-to(large){
    display:none;
    bottom:-15vh;
  }
  @include respond-to(small){
    bottom:-20vh;
  }
}

.scroll-sign-up:hover{
  animation:zoom 0.5s;
}
.scroll-sign-up:active{
  animation:zoomOut 0.5s;
}

#form-button{
  width:10vw;
  background-color:transparent;
  padding-left:0;
  border:none;
  padding:0;
  cursor:pointer;
  @include respond-to(large){
    width:18vw;
    margin-left:0;
  }
  @include respond-to(small){
    width:50vw;
    margin:auto;
  }
}

.swiper-pagination{
  .swiper-pagination-bullet{
    background-color:colors(text-color);
  }
}

.swiper-pagination-whyuse{
  text-align: center;
  padding-top:1.5vh;
  display:flex;
  justify-content: flex-end;
  padding-right:10.1vw;
  .swiper-pagination-bullet{
    background-color:colors(text-color);
    width:14px;
    height:14px;
    margin:0 0.84vw !important;
    @include respond-to(large){
      margin:0 1.5vw !important;
    }
    @include respond-to(small){
      margin:0 2.42vw !important;
    }
  }
  .swiper-pagination-bullet:nth-child(1){
    @include respond-to(large){
      margin-left:0 !important;
    }
    @include respond-to(small){
      margin-left:2.42 !important;
    }
  }
  @include respond-to(large){
    justify-content: flex-start;
    padding-left:10.74vw;
    padding-top:50px;
  }
  @include respond-to(small){
    justify-content: center;
    padding-left:0;
    padding-right:0;
  }
}


::placeholder{
  color:colors(text-color);
  font-size:1rem;
}

#footer-copyright{
  width:100%;
  height:auto;
  justify-content: center;
  align-items: center;
  display:flex;
  p{
    margin:0;
  }
  svg{
    vertical-align:text-bottom;
    margin-right:0.52vw;
    height:100%;
    @include respond-to(small){
      align-self: flex-start;
    }
  }
  @include respond-to(small){
    width:80%;
    text-align: center;
  }
}

footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:6.94vh;
  >p{
    margin-bottom:4.44vh;
    font-weight: bold;
  }
}

#footer-container{
  min-height: 0;
}

.swiper-container-whyuse{
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container-academic{
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-ourproduct{
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-pagination-ourproduct{
  position:absolute;
  bottom:64px !important;
  left:0;
  .swiper-pagination-bullet{
        background-color:colors(text-color);
        margin-right:25px !important;
  }
}

#ourproduct-main{
  margin-left:sizes(margin);
  margin-right:sizes(margin);
  #ourproduct-slider{
    height:750px;
    @include respond-to(large){
      height:1200px;
    }
    @include respond-to(small){
      height:1200px;
    }
  }
  #ourproduct-illustration{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(0deg);
    animation-duration:10s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    circle{
      stroke-dasharray: 200px;
    }
    @include respond-to(small){
      display:none;
    }
  }
  #github-link{
    margin:auto;
    width:fit-content;
    margin-bottom:11.76vh;
    @include respond-to(small){
      margin-bottom:0;
      svg{
        width:100% !important;
      }
    }
  }
  #github-link a:hover{
    rect{
      fill:#29023f;
      transition:0.5s;
    }
    text{
      fill:white;
      transition:0.5s;
    }
    path{
      stroke:white;
      transition:0.5s;
    }
  }
  p{
    margin:0;
  }
  h2{
    font-weight:600;
  }
  #ourproduct-text{
    > .right-aligned{
      width:25.21vw;
      transform:translate(-25px, 0);
      margin-bottom:13.33vh;
      @include respond-to(small){
        width:auto;
        transform:translate(0, 0);
        margin-top:10vh;
      }
    }
  }
  #ourproduct-heading{
    width:100%;
    text-align:center;
    margin-bottom:8.15vh;
    padding-top:15.74vh;
  }
  .swiper-container-ourproduct{
    width:58.33vw;
    #ourproduct-button-slide{
      position:absolute;
      bottom:30px;
      left:242px;
      transition:0.5s;
      z-index:10;
      cursor:pointer;
      @include respond-to(small){
        left:unset;
        right:0;
      }
    }
    #ourproduct-button-slide:hover svg{
      animation:zoom 0.5s;
    }
    #ourproduct-button-slide:active svg{
      animation:zoomOut 0.5s;
    }
    .swiper-slide{
      height:100%;
      .semi-bold{
        margin-bottom:10.83vh;
      }
      ul{
        font-size:20px;
        margin-bottom:5vh;
      }
      .slide-number{
        position:absolute;
        bottom:60px;
        left:0;
        display:none;
      }
    }

    .right-aligned{
      width:25.21vw;
      p{
        margin-bottom:3.7vh;
        transform:translate(-50px, 0);
        @include respond-to(small){
          transform:translate(0, 0);
        }
      }
      li{
        margin-bottom:2.78vh;
        line-height:36px;
      }
      @include respond-to(small){
        width:90%;
        margin-bottom:10vh;
      }
    }
  }
}

// @keyframes circleSplice{
//   100%{
//     transform:rotate(350deg);
//   }
// }

#impressum{
  cursor:pointer;
  margin:0;
  margin-bottom:1vh;
  font-weight:700;
  font-size:20px !important;
}

#impressum-popup{
  color:colors(text-color);
  transition:0.5s;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity:0;
  height:100vh;
  padding:20.9vh 8.1vw;
  background-color:white;
  width:100vw;
  overflow-y:auto;
  z-index:-10;
  p{
    margin:0;
    font-size:20px !important;
  }
  h5{
    margin-bottom:4.63vh;
  }
  #close-impressum-button{
    height:2.6vw;
    width:2.6vw;
    position:absolute;
    top:10vh;
    right:7.5vw;
    border:none;
    padding:0;
    cursor:pointer;
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #29023f;
  overflow: hidden;
}

.pace-inactive{
  display:none;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29023f;
}

#logo-loading{
  position:fixed;
  top:40%;
  left:50%;
  display:block;
  transform:translateX(-50%);
  width:100px;
  svg{
    width:100%;
  }
  @include respond-to(large){
    width:100px;
  }
  @include respond-to(small){
    top:37%;
    width:100px;
  }
}

@keyframes zoom{
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes zoomOut{
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #hero-main{
    height:10px;
  }
  #hero-illustration{
    top:25%;
  }
  #whyuse-text{
    margin-right:0;
    margin-left:0;
  }
  #github-link{
    width:100%;
    text-align:center;
  }
  #whyuse-main #whyuse-circle{
    right:-2vw - sizes(margin);
  }
  #big-illustration img:nth-child(2){
    margin-right:2.81 - sizes(margin);
  }
  #ourtechnology-main{
    margin-left:0;
    margin-right:0;
  }
  #ourtechnology-text{
    width:38.8vw;
    margin:auto;
  }
  #ourtechnology-subsections{
    .ourtechnology-subsections-item{
      img{
        left:- 5vw;
      }
    }
  }
  #academic-main{
    margin-left:0;
    margin-right:0;
    margin-left:- sizes(margin);
  }
  #call-to-action{
    width:100vw;
    margin-left:- sizes(margin);
    margin-right:- sizes(margin);
    #call-to-action-main{
      #call-to-action-main{
        margin-left:- sizes(margin);
        margin-right:0;
      }
    }
  }
  #partners-section{
    margin-left:0;
    margin-right:0;
  }
  #partners-fund{
    .partners-single{
      width:100%;
      text-align: center;
      display:flex;
      justify-content: center;
    }
  }
  #team-main{
    margin-left:0;
    margin-right:0;
  }
  .secondary-color-background:nth-child(2){
    margin-left:- sizes(margin);
  }
  #career{
    margin-left:- sizes(margin);
    margin-right:- sizes(margin);
  }
  .some-illustration-2{
    right:-2 * sizes(margin);
  }
  #contactus-main{
    margin-left:0;
    margin-right:0;
  }
  #contactus-form-section{
    margin-right:- sizes(margin);
    #contactus-form{
      margin-right:0;
    }
  }
  .scroll-sign-up{
    right:- sizes(margin);
  }
  footer{
    width:100%;
    margin-left:sizes(margin);
  }
  #footer-copyright{
    position:relative;
    svg{
      height:20px;
    }
  }
  #logo-loading{
    top:34%;
  }
  .product-single{
    .right-aligned{
      margin-left:6.15vw;
    }
  }
}

@supports (-ms-ime-align: auto) {
  #github-link{
    width:100%;
    text-align:center;
  }
  #partners-fund{
    .partners-single{
      width:100%;
      text-align: center;
      display:flex;
      justify-content: center;
    }
  }
  .product-single{
    .right-aligned{
      margin-left:6.15vw;
    }
  }
}